@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.container label{
  background-color: rgba(221, 54, 54, 0.747);
  display: flex;
  height: 3em;
  align-items: center;
  padding-left: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
  color: blue;
}
.toppingsC{
  
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding-left: 1em;
}
header{
  padding-left: 1em;
}
h1{
  font-family: 'Shadows Into Light', cursive;
}
h2{
  font-size: 1.5em;
  font-family: 'Shadows Into Light', cursive;
}
.inputs{
  padding-left: 1em;
}
.saucesC{
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  
}


